

# editor crap
*~
.*.sw?
.sw?
.\#*
\#*\#
DEADJOE
.idea/*
# compiled files
_vendor/
vendor/
*\.test
tags
TAGS

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# various output files
*.out
cover-cobertura.xml
cover.json
report.xml
.env.sh
imgui.ini

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

*.exe
*.test
*.prof
*.out
*.static
artemix
*.arm
*.arm64
*.386


# local test data

t-data/*local
